<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bootstrap e-commerce html template similar to Alibaba">
    <meta name="keywords" content="Online template, shop, theme, template, html, css, bootstrap 4">
    <title>LShope</title>
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- jQuery -->
    <script src="~/Content/js/jquery-2.0.0.min.js" type="text/javascript"></script>
    <!-- Bootstrap4 files-->
    <script src="~/Content/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Font awesome 5 -->
    <link href="~/Content/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
    <!-- custom style -->
    <link href="~/Content/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- facebook comment script -->
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3&appId=Your_App_ID";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- custom javascript -->
    <script src="~/Content/js/script.js" type="text/javascript"></script>
</head>
<body>
    <b class="screen-overlay"></b>
    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3 col-md-12">
                        <a href="@Url.Action("Home","Site")" class="brand-wrap">
                            <img class="logo" src="~/Content/images/logo.png">
                        </a> <!-- brand-wrap.// -->
                    </div>
                    
                    <div class="col-xl-6 col-lg-5 col-md-6">
                        <form action="~/tim-kiem" class="search-header">
                            <div class="input-group w-100">
                                @*<select class="custom-select border-right">
                                    <option value="">Tất cả</option>
                                    <option value="codex">Đặc biệt</option>
                                    <option value="comments">Tốt nhất</option>
                                    <option value="content">Mới nhất</option>
                                </select>*@
                                @using (Html.BeginForm("SearchProduct", "Site"))
                                {
                                    <input type="text" name="key" class="form-control" placeholder="Tìm kiếm">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa fa-search"></i> Tìm kiếm
                                        </button>
                                    </div>
                                }
                            </div>
                        </form> <!-- search-wrap .end// -->
                    </div> <!-- col.// -->            
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="widgets-wrap float-md-right">
                            <div class="widget-header mr-3">
                                <a href="dang-nhap" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-user"></i>
                                        <span class="notify">3</span>
                                    </div>
                                    <small class="text"> Tài khoản </small>
                                </a>
                            </div>
                            <div class="widget-header mr-3">
                                <a href="#" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-comment-dots"></i>
                                        <span class="notify">1</span>
                                    </div>
                                    <small class="text"> Thông báo </small>
                                </a>
                            </div>
                            <div class="widget-header mr-3">
                                <a href="#" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-store"></i>
                                    </div>
                                    <small class="text"> Đơn hàng </small>
                                </a>
                            </div>
                            <div class="widget-header">
                                <a href="@Url.Action("ShowToCart", "ShoppingCart")" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <small class="text"> Giỏ hàng </small>
                                </a>
                            </div>
                        </div> <!-- widgets-wrap.// -->
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- container.// -->           
        </section> <!-- header-main .// -->
        @Html.Action("MainMenu", "Module")
    </header> <!-- section-header.// -->
    
    @RenderBody()

    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer bg-secondary">
        <div class="container">
            <section class="footer-top padding-y-lg text-white">
                <div class="row">
                    <aside class="col-md col-6">
                        <h6 class="title">Thương hiệu</h6>
                        <ul class="list-unstyled">
                            <li> <a href="">Adidas</a></li>
                            <li> <a href="">Puma</a></li>
                            <li> <a href="">Reebok</a></li>
                            <li> <a href="">Nike</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Công ty</h6>
                        <ul class="list-unstyled">
                            <li> <a href="~/gioi-thieu">Giới thiệu</a></li>
                            <li> <a href="~/chinh-sach-mua-hang">Chính sách mua hàng</a></li>
                            <li> <a href="~/chinh-sach-van-chuyen">Chính sách vận chuyển</a></li>
                            <li> <a href="~/chinh-sach-doi-tra">Chính sách đổi trả</a></li>
                            <li> <a href="~/chinh-sach-bao-hanh">Chính sách bảo hành</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Trợ giúp</h6>
                        <ul class="list-unstyled">
                            <li> <a href="~/lien-he">Liên hệ chúng tôi</a></li>
                            <li> <a href="~/chinh-sach-hoan-tien">Hoàn tiền</a></li>
                            <li> <a href="">Tình trạng đơn hàng</a></li>
                            <li> <a href="">Thông tin vận chuyển</a></li>
                            <li> <a href="">Tranh chấp</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Tài khoản</h6>
                        <ul class="list-unstyled">
                            <li> <a href="~/login"> Đăng nhập tài khoản </a></li>
                            <li> <a href="~/register"> Đăng ký tài khoản </a></li>
                            <li> <a href=""> Cài đặt tài khoản </a></li>
                            <li> <a href=""> Đơn hàng cảu tôi </a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Mạng xã hội</h6>
                        <ul class="list-unstyled">
                            <li><a href="https://www.facebook.com/loi.mai.182"> <i class="fab fa-facebook"></i> Facebook </a></li>
                            <li><a href="https://twitter.com/MaiXunLi5"> <i class="fab fa-twitter"></i> Twitter </a></li>
                            <li><a href="https://www.instagram.com/xuan_loi.520/"> <i class="fab fa-instagram"></i> Instagram </a></li>
                            <li><a href="https://www.youtube.com/channel/UCPfLVcE-Z742OGFpSvXx64Q"> <i class="fab fa-youtube"></i> Youtube </a></li>
                        </ul>
                    </aside>
                </div> <!-- row.// -->
            </section>	<!-- footer-top.// -->
            <section class="footer-bottom text-center">

                <p class="text-white">Chính sách bảo mật - Điều khoản sử dụng - Thông tin người dùng Hướng dẫn hỏi đáp pháp lý</p>
                <p class="text-muted"> &copy @DateTime.Now.Year LShope, Đã đăng ký Bản quyền </p>
                <br>
            </section>
        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->
</body>
</html>
