@model IEnumerable<MyLibrary.Model.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách người dùng</h2>

<p>
    <button type="button" class="btn btn-outline-primary rounded-pill mb-3">
        <a href="@Url.Action("Create", "Users")"><i class="fas fa-plus mr-2"></i>Thêm Mới</a>
    </button>
    <button type="button" class="btn btn-outline-primary rounded-pill mb-3">
        <a href="@Url.Action("Trash", "Users")"><i class="fas fa-trash mr-2"></i>Thùng Rác</a>
    </button>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Access)
            </th>
            @*<th scope="col">
                    @Html.DisplayNameFor(model => model.Created_at)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Created_by)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Updated_at)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Updated_by)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Status)
                </th>*@
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <input type="checkbox" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <img style="max-width:30%; max-height:30%;" src="~/@Html.DisplayFor(modelItem => item.Img)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Access)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_by)
        </td>*@
            <td>
                @if (item.Status == 1)
                {
                    <a href="@Html.DisplayFor(modelItem => item.Status)" class="badge_active">Active</a>

                }
                else
                {
                    <a href="@Html.DisplayFor(modelItem => item.Status)" class="badge_active3">Closed</a>
                }
            </td>
            <td>
                <div class="action_btns d-flex">
                    @if (item.Status == 1)
                    {
                        <a class="action_btn mr_10" href="@Url.Action("Status", "Users",new { id = item.Id })"><i class="fas fa-toggle-on"></i>_</a>
                    }
                    else
                    {
                        <a class="action_btn mr_10" href="@Url.Action("Status", "Users",new { id = item.Id })"><i class="fas fa-toggle-off"></i>_</a>
                    }
                    <a href="@Url.Action("Edit", "Users", new { id = item.Id })" class="action_btn mr_10"> <i class="far fa-edit"> </i>_</a>
                    <a href="@Url.Action("Deltrash", "Users", new { id = item.Id })" class="action_btn"> <i class="fas fa-trash"> </i>_</a>
                    <a href="@Url.Action("Details", "Users", new { id = item.Id })" class="action_btn ml-10"> <i class="far fa-eye"> </i>_</a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>